<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Garden Tips List</h1>
    {% for tips in object_list %}
    <h2>{{tips.title}}</h2>
    <h3>Region: {{tips.region}} | Season: {{tips.season}}</h3>
    <p>{{ tips.garden_tip }}</p>
    <p>Author:{{ tips.creator }}</p>
    {% endfor %}
</body>

</html>